header {
    padding: 15px;
    color: blue;
    background-color: yellow;
    gap: 12px;
    display: flex;
}
.brand {
    font-size: 35pt;
    color: blue;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 6px 10px;
    display: inline-block;
    width: fit-content;
}

main {
    display: flex;
    gap: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 6px 10px;
}

a {
    font-size: 25pt;
    font-family: fantasy;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    display: inline-block;
    
}

li {
    color: red;
    background-color: black;
    font-size: 25pt;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid brown 1px;
    border-radius: 10px;
}

article {
    font-size: 20pt;
}

blockquote {
    background-color: lightblue;
}

footer {
    background-color: aqua;
    display: inline-block;
    font-size: 15pt;

}